
@import '../../assets/css/vars/vars';


.btn {
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 22px;
    text-align: center;
    color: white;
    letter-spacing: 0px;

    &:hover {
        transition: background-color 0.5s;
        cursor: pointer;
    }
}