@import '../../assets/css/vars/vars';

@mixin button($bgColor, $textColor) {
  border-radius: 15px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgColor;
  color: $textColor;
  transition: .2s;
  cursor: pointer;
  min-width: 150px;

  &:hover {
    background: lighten($bgColor, 8%);
  }

  &:active {
    background: darken($bgColor, 2%);
  }
}

.regular {
  @include button(orangered, #fff);
}

.success {
  @include button(green, #fff);
}

.info {
  @include button(blue, #fff);
}

.white {
  @include button(#fff, black);
  border: 1px solid yellow;
}

.disable {
  @include button(grey, #fff);
  opacity: 0.6;
}

.basic {
  font-weight: 300;
  @include button(black, #fff);
}

$colors: regular,
success,
info,
white,
basic,
disable;

@each $color in $colors {
  .btn-#{$color} {
    composes: $color;
  }
}

.spinner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #eee;
  height: 70%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
