@import '../../assets/css/vars/vars';

.menu {
    
    line-height: 100px;

    ul li {
        display: inline-block;
        float: left;
        margin-left: 40px;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 18px;
    }
}
