@import '../../assets/css/vars/vars';

.menu {
    float: right;
    line-height: 100px;
    ul li {
        display: inline-block;
        float: left;
        margin-left: 40px;
        cursor: pointer;
        color: #444;
        font-size: 16px;

        span:hover {
            padding-bottom: 5px;
            color: #888;
            border-bottom: 2px solid orangered;
            
        }
    }
}