@import '../../assets/css/vars/vars';

.menu {

    ul li {
        display: inline-block;
        float: left;
        margin-right: 40px;
        cursor: pointer;
        font-family: sans-serif;
        font-size: 18px;
    }
}
