
html {
    * {
    box-sizing: border-box;
    }
    body {
        font-family: Railway,sans-serif;
        font-size: 20px;
        .content {
            
            .main-image {
                float: right;
            }
            .heroText {
                float: left;
                height: 100%;
                margin-top: 170px;
                margin-left: 30px;
                margin-right: 50px;
                font-family: 'Andada', serif;
                font-size: 3em;
                line-height: 120%;
                letter-spacing: 6px;

                & > span:last-child {
                    float: right;
                }
            }
        }
    }
}
