
html {

    * {
    box-sizing: border-box;
    }
    body {
        font-family: sans-serif;
        .content {
            padding: 10% 0;
            .heroText {
                font-size: 3em;
            }
        }
    }
}