html {
  width: 100%;
  height: 100%;

  body {
    font-family: 'Railway', sans-serif;
    height: 100%;
    color: #333;

    .container {
      min-height: 100%;
      position: relative;

      .home-header {
        margin-bottom: 30px;
      }

      .content {
        width: 100%;
        display: flex;
        margin: 30px auto 40px;
        max-width: 1300px;
        text-align: right;
        justify-content: space-between;
        align-items: center;

        .heroText {
          height: 100%;
          width: 100%;
          justify-content: space-between;
          display: flex;
          align-items: center;

          h1 {
            font-size: 70px;
            line-height: 100px;
            font-weight: bold;

          }

          .orangered {
            color: orangered;
          }

        }

        .btn-kish {
          min-width: 200px;
          line-height: 100px;
          border-radius: 30px;
          font-size: 1.4em;
          text-shadow: 1px 2px 2px #888;
          padding: 10px 15px;
          box-sizing: content-box;
        }
      }

      .kish-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px auto 100px;
        line-height: 150%;
        text-align: justify;
        width: 100%;
        max-width: 1300px;

        &>h2 {
          text-align: center;
          margin-bottom: 100px;
          line-height: 50px;
          color: orangered;
        }

        .kish-info-content {
          display: flex;
          position: relative;
          min-height: 380px;

          .kish-info-image {
            width: 50%;
            margin-top: 30px;

            &>img {
              border-radius: 10px;
            }

            &>.image-first {
              width: 400px;
              height: 300px;
            }

            &>.image-seconde {
              width: 300px;
              height: 200px;
              position: absolute;
              left: 273px;
              top: -20px;
            }

            &>.image-third {
              width: 300px;
              height: 200px;
              position: absolute;
              left: 250px;
              top: 150px;

            }

            .kish-info-text {
              display: flex;
              flex-direction: column;
              width: 50%;

              &>h2 {
                margin: 30px 0 60px;
                text-align: center;
                color: orangered;
                height: 100%;
              }

              &>p {
                padding-bottom: 30px;
                text-align: justify;
                line-height: 30px;
                margin: auto 0;
                align-self: flex-end;
              }
            }
          }

          .kish-map {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 50px;

            &>span {
              margin-bottom: 20px;

              img {
                width: 70px;
              }
            }

            .kish-map-main {
              display: flex;
              justify-content: space-between;

            }

            .kish-map-info {
              width: 50%;
              margin-right: 30px;
            }

          }
        }

        .box-container {
          max-width: 1300px;
          width: 100%;
          margin: 0 auto 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &>div {
            width: 27%;
          }
        }

      }

      .contact-form {
        width: 100%;
        //THE PADDING BOTTOM ==> 200px IS FOR KEEPING THE FOOTER AT THE BOTTOM OF THE PAGE
        padding: 20px 20px 200px 20px;
        background: linear-gradient(rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #eee;

        .title {
          font-size: 48px;
          color: orangered;
          margin: 30px 0;
        }

        .contact-us-inner {
          margin-bottom: 100px;
          max-width: 600px;
          width: 60%;

          .validation-message {
            width: 100%;
            background-color: lighten(orangered, 10%);
            border-color: darken(#d43f3a, 10%);
            color: #fff;
            border-radius: 5px;
            font-size: 16px;
            padding: 10px;

          }

          .name,
          .email,
          .phone {
            width: 100%;
            margin: 20px 0;
          }

          color: grey;
        }

        textarea {
          width: 100%;
          padding: 15px 20px;
          border: none;
          outline: none;
          border-radius: 8px 8px 0 0;
          border-bottom: 2px solid gray;
          font-size: 20px;

          color: gray;

          &:hover,
          &:focus {

            border-color: orangered;
          }
        }

        .conf-btn {
          width: 100%;
          margin: 15px auto 0;
          background-color: orangered;
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .home-header {
    margin-bottom: 0 !important;
  }

  .content {
    flex-direction: column;
    padding: 10px !important;

    .heroText {
      margin-top: 40px !important;
      font-size: 48px !important;
      margin-left: 20px !important;
    }

    .main-image {
      margin-left: 0 !important;

      img {
        width: 100% !important;
        height: auto !important;
      }

    }
  }

  .kish-info {
    width: 100% !important;
    padding: 25px !important;

    h2 {
      margin-bottom: 30px !important;
    }

    .kish-info-content {
      flex-direction: column !important;

      .kish-info-image {
        width: 100% !important;

        &>img {
          width: 100% !important;
          height: auto !important;
          position: static !important;
        }

      }

      .kish-info-text {
        width: 100% !important;
        margin: 50px auto 0 auto;
      }
    }

    .kish-map {
      flex-direction: column;

      .kish-map-info {
        width: 100% !important;
        margin: 100px auto 0 auto !important;
      }

      .kish-map-main {
        flex-direction: column;

        .kish-map-info {
          margin-top: 20px !important;
        }

        &>div:last-of-type {
          margin-top: 40px;

          iframe {
            width: 100%;
          }
        }
      }

    }
  }

  .box-container {
    flex-direction: column;

    &>div {
      width: 80% !important;
      margin-bottom: 50px !important;

      &>div {
        height: auto !important;
        padding-bottom: 30px;
      }
    }
  }

  .contact-us-inner {
    width: 85% !important;
  }

}
