@import '../../assets/css/vars/vars';

.header {
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  padding: 0 30px;
  display: flex;
  margin: 0 auto;

  .logo {
    float: left;
    line-height: 100px;

    &>img {
      width: 80px;
      height: 80px;
    }

    .logo-icon {
      width: 50px;
      height: 50px;
      background-color: orangered;
      box-shadow: 0 0 50px orangered;
      font-weight: bold;
      color: white;
      border-radius: 25px;

    }
  }

  .nav-bar {
    float: right;
    line-height: 100px;
    width: 35%;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        span:hover {
          padding-bottom: 5px;
          color: #888;
          border-bottom: 2px solid orangered;
        }
      }
    }
  }

  .sidebar {
    display: none !important;
  }
}

@media only screen and (max-width:768px) {
  .header {
    height: 160px;

    .nav-bar {
      display: none;
    }

    .sidebar {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      right: 0;

      .mobile-nav-icon {

        width: 80px;
        height: 80px;
        cursor: pointer;
        display: flex;
        justify-content: center;

        img {
          height: 80px;
          width: 50px;
          transform: rotate(90deg);

        }
      }

      .mobile-nav {
        background-color: #eee;
        border: 2px solid #ddd;
        border-right: transparent;
        border-radius: 10px 0 0 10px;
        width: 300px;
        height: 100vh;

        ul {
          display: flex;
          flex-direction: column;
          padding: 15px;

          &>li {
            margin: 15px;
            padding: 15px;
            height: 60px;
            border-bottom: 2px solid #ddd;


            &>span {

              margin: auto;
              display: block;
              color: #666;
              text-align: center;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
