@import '../../assets/css/vars/vars';

.header {
    // background-color: $color3;
    margin-top: 40px;
    .logo {
        float: left;
        .logoIcon {
            background-color: orangered;
            border: 1px solid orangered;
            box-shadow: 0 0 50px orangered;
            font-weight: bold;
            font-size: 0.8em;
            padding: 10px 3px;
            color: white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
    }
    }
    .navbar {
        float: right;

        ul li {
            display: inline-block;
            float: left;
            margin-left: 40px;
        }
    }
}