@import '../../assets/css/vars/vars';

.box {
    width:100%;
    .inner-box {
        width: 100%;
        height: 300px;
        padding: 30px 30px 15px 30px;
        margin-right: 10px;
        background-color: white;
        box-shadow: 0 0 20px #ddd;
        cursor: pointer;
        margin: auto;
        border: 3px dotted #fff;
        border-radius: 20px;
        &:hover { 
            // SOME NICE GRADIENT COLORS !!!
            // background: linear-gradient(#eb77da, #53acc5);
            // background: linear-gradient(magenta, cyan);
            // background: linear-gradient($color3, $color4);
            //THE HEX COLORS CODE OF THE CURRENT LINEAR GRADIENT
            // background: linear-gradient(#FBC2EB,#A6C1EE);
            background: linear-gradient( rgba(251,194,235, 0.6),rgba(166,193,238, 0.6));
        }
        img {
            height: 75px;
            width: 100px;
            border-radius: 10px;
            margin: auto;
            display: block;
        }
        div {
            text-align: center;
            font-family: 'Andada', serif;
            font-weight: 700;
        }
        div:last-child {
            font-size: 16px;
            color: #666;
            font-weight: 400;
        }
    }
}