@import '../../assets/css/vars/vars';

.boxes {
    margin-top:100px;
    .singleBox {
        display: table;
        width: 250px;
        height: 300px;
        padding: 30px 30px 15px 30px;
        margin-right: 10px;
        background-color: white;
        box-shadow: 0 0 20px #ddd;
        cursor: pointer;
        margin: auto;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        // &:before {
        //     content: "";
        //     background: linear-gradient($color3, $color4);
        //     opacity: 0.5;
        // }
    
        &:hover { 
            // SOME NICE GRADIENT COLORS !!!
            // background: linear-gradient(#eb77da, #53acc5);
            // background: linear-gradient(magenta, cyan);
            // background: linear-gradient($color3, $color4);

            //THE HEX COLORS CODE OF THE CURRENT LINEAR GRADIENT
            // background: linear-gradient(#FBC2EB,#A6C1EE);

            background: linear-gradient( rgba(251,194,235, 0.6),rgba(166,193,238, 0.6));
        }
    
        img {
            height: 100px;
            width: 100px;
            margin: auto;
            display: block;
        }
    
        div {
            text-align: center;
            display: table-row;
            font-family: 'Andada', serif;
            font-weight: 700;
        }

        div:last-child {
            font-size: 16px;
            color: #666;
            font-weight: 400;
        }
    }
}