@import '../../assets/css/vars/vars';

.singleBox {
    border: 2px solid #ddd;
    padding: 30px 30px 15px 30px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
    &:hover {
        // background: linear-gradient(#eb77da, #53acc5);
        // background: linear-gradient(magenta, cyan);
        background: linear-gradient($color3, $color4);

    }

    img {
        height: 40px;
        width: 40px;
        margin: auto;
        display: block;
    }

    p {
        text-align: center;
        font-size: 60%;
        margin-top: 20px;
    }
}